body {
    font-family: sans-serif;
    background-color: #1e1f20;
    color: white;
    padding: 10px
}

i {
    font-size: small;
}

a {
    color: orange;
    padding: 10px;

}

li:hover {
    font-size: larger;
}

img {
    width: 300px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

h1 {
    text-shadow: 10px 5px 5px black;
}